.technologies {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	font-size: 1.5rem;
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;

	p {
		border-radius: 10px;
		overflow: hidden;
		padding: 5px;
	}
}
