.page-nav__link {
	color: hsl(0, 0%, 50%);

	&:hover {
		color: var(--accent-clr);
	}
}

.project-page {
	padding: 20px;
}

.project-page__title {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
}

.project-page__img-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.project-page__img {
	clip-path: inset(50% 50% 50% 50%);
}

.project-page__img-wrapper--active {
	clip-path: inset(0 0 0 0);
	transition: all 2s cubic-bezier(0.75, 0.5, 0.25, 1);
}

.palette {
	display: flex;
	margin-bottom: 10px;
}

.palette__color {
	position: relative;
	&::before {
		content: attr(data-color);
		position: absolute;
		mix-blend-mode: difference;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.project-page__link {
	background: var(--accent-clr);
	padding: 5px;
	border-radius: 10px;
	min-width: 50px;
	color: #000;
}

.project-page__img-wrapper {
	width: 100%;
	aspect-ratio: 1/1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (width < 808px) {
	.project-page {
		padding: 10px;
	}

	.project-page__img-grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}
}
