.page-nav__link {
	color: hsl(0, 0%, 50%);

	&:hover {
		color: var(--accent-clr);
	}
}

.project-page {
	padding: 20px;
}

.project-page__title {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
}

.project-page__img-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.project-page__img-wrapper {
	width: 100%;
	aspect-ratio: 1/1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	overflow: hidden;
}

.project-page__img {
	clip-path: inset(50% 50% 50% 50%);
}

.project-page__img-wrapper--active {
	clip-path: inset(0 0 0 0);
	transition: all 2s cubic-bezier(0.75, 0.5, 0.25, 1);
}

.project-page__palette-typo-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin: 10px 0;
}

.palette {
	display: flex;
	gap: 10px;
	height: 100%;
	width: auto;
}

.palette__color {
	position: relative;
	flex-grow: 1;
	border-radius: 15px;
	transition: all 0.3s;

	&:hover {
		flex-grow: 2;
	}

	&::before {
		content: attr(data-color-name);
		position: absolute;
		top: 10px;
		left: 10px;
		color: #000;
		padding-right: 10px;
		opacity: 0;
		transition: all 0.3s;
	}

	&:hover::before {
		opacity: 1;
	}

	&::after {
		content: attr(data-color-value);
		position: absolute;
		right: 10px;
		bottom: 10px;
		color: #000;
		opacity: 0;
		transition: all 0.3s;
	}

	&:hover::after {
		opacity: 1;
	}
}

.project-page__typo-container {
	border-radius: 15px;
	overflow: hidden;
}

.project-page__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	margin-top: 10px;
}

.project-page__link {
	background: var(--accent-clr);
	padding: 5px;
	border-radius: 10px;
	min-width: 50px;
	color: #000;
}

@media screen and (width < 808px) {
	.project-page {
		padding: 10px;
	}

	.project-page__img-grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}

	.project-page__palette-typo-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.palette {
		height: 300px;
	}
}
