.featured-work__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media screen and (width <= 1000px) {
	.featured-work__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width <= 600px) {
	.featured-work__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
