.project-page {
	position: relative;
	padding: 20px;
}

.project-page__title {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 20px;
}

.project-page__img-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.project-page__img-wrapper {
	width: 100%;
	aspect-ratio: 1/1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	overflow: hidden;
}

.project-page__img {
	clip-path: inset(50% 50% 50% 50%);
}

.project-page__img--active {
	clip-path: inset(0 0 0 0);
	transition: all 2s cubic-bezier(0.75, 0.5, 0.25, 1);
}

.project-page__info-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	margin-top: 10px;
}

.project-page__palette-typo-container {
	width: 100%;
	display: grid;
	gap: 10px;
	margin-bottom: 10px;
}

.palette {
	display: flex;
	gap: 10px;
	height: 100%;
	width: auto;
	min-height: 300px;
}

.palette__color {
	position: relative;
	flex-grow: 1;
	border-radius: 15px;
	transition: all 0.3s;

	&:hover {
		flex-grow: 2;
	}

	&::after {
		content: attr(data-color-value);
		position: absolute;
		right: 10px;
		bottom: 10px;
		// TODO:
		mix-blend-mode: difference;
		opacity: 0;
		transition: all 0.3s;
	}

	&:hover::after {
		opacity: 1;
	}
}

.project-page__typo-container {
	border-radius: 15px;
	overflow: hidden;
}

.project-page__link {
	position: sticky;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 0.15);
	background: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	padding: 5px;
	border-radius: 10px;
	color: #fff;

	&:hover {
		border: 2px solid var(--accent-clr);
	}
}

.project-page__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	margin-top: 10px;
}

.project-page__nav-link {
	display: inline-block;
	background: var(--accent-clr-semi-tp);
	padding: 5px;
	border-radius: 10px;
	color: var(--accent-clr);
	border: 2px solid var(--accent-clr-semi-tp);

	&:hover {
		border: 2px solid var(--accent-clr);
	}
}

@media screen and (width <= 1200px) {
	.project-page__info-wrapper {
		flex-direction: column;
		gap: 10px;
	}
}

@media screen and (width < 808px) {
	.project-page {
		padding: 10px;
	}

	.project-page__img-grid {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}

	.project-page__palette-typo-container {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}
