.word-line-container {
	display: flex;
	flex-wrap: wrap;
}

.word-line-wrapper {
	overflow: hidden;
}

.word-line {
	display: inline-block;
	transform: translateY(100%);
	transition: transform 1s;
	margin-right: 0.25em;
}

.word-line--active {
	transform: translateY(0);
}
