// Default
// border: 2px solid rgba(255, 255, 255, 0.2);

:root {
	--grey-tp-clr: rgba(255, 255, 255, 0.15);
	--grey-tp-border: 2px solid rgba(255, 255, 255, 0.15);
	--big-border-radius: 15px;
	--small-border-radius: 10px;
	--accent-clr: #b3e741;
	--accent-clr-semi-tp: rgba(179, 231, 65, 0.25);
}
