.breadcrumbs {
	margin-bottom: 20px;
	font-size: 14px;
}

.breadcrumbs-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;

	li {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 4px;
	}
}

.breadcrumbs__link {
	position: relative;
	color: #fff;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background: #fff;
	}

	&::before {
		transform-origin: right;
		transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
	}

	&::after {
		transform-origin: left;
		transform: scaleX(0);
		transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&:hover {
		&::before {
			transform: scaleX(0);
			transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
		}

		&::after {
			transform: scaleX(1);
			transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
		}
	}
}
