.about__pop-up {
	position: fixed;
	left: 50%;
	top: -100%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	gap: 5px;
	border: 2px solid var(--accent-clr-semi-tp);
	padding: 5px;
	background: var(--accent-clr-semi-tp);
	color: var(--accent-clr);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	transition: all 1s;
}

.about__pop-up--active {
	top: 20px;
}

.about__pop-up-btn {
	background: var(--accent-clr);
	color: #000;
	border-radius: 10px;
	padding: 5px;
}

.about {
	min-height: 100dvh;
	padding: 20px;
}

.about__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (width < 808px) {
	.about {
		padding: 10px;
	}

	.about__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
