.contact {
	padding: 20px;
}

.contact__title {
	margin-bottom: 20px;
}

.contact__inner {
	display: flex;
	gap: 20px;
}

.contact__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.contact__email {
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	min-height: 200px;
	background: hsl(0, 0%, 10%);
	border-radius: 15px;
	padding: 20px;
	cursor: pointer;

	a {
		color: #fff;
	}

	i {
		align-self: flex-end;
		font-size: 2rem;
	}

	&:hover {
		background: var(--accent-clr);
		color: #000;

		a {
			color: #000;
		}
	}
}

.contact__socials-map {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.contact__details-map {
	width: 100%;
}

.contact__form-details {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	width: 100%;
	border-radius: 15px;
	padding: 20px;
	overflow: hidden;
	background: var(--accent-clr);
	color: #000;
}

.contact__form-details-title {
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	font-weight: 500;
}

.contact__form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.input {
	border-bottom: 2px solid #000;
	width: 100%;
	border-radius: 0;
	padding: 5px;
}

.textarea {
	resize: none;
	border-bottom: 2px solid #000;
	outline: none;
	border-radius: 0;
	width: 100%;
	padding: 5px;
}

.input-reset {
	border: 2px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin-right: 5px;
	cursor: pointer;

	&:hover {
		background: #000;
		color: #fff;
	}
}

.contact__form-btn {
	padding: 10px;
	background: #000;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #000;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.contact__details {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column-reverse;
	width: 100%;
	min-height: 200px;
	background: hsl(0, 0%, 10%);
	border-radius: 15px;
	padding: 20px;
	cursor: pointer;
	overflow: hidden;

	i {
		align-self: flex-end;
		font-size: 2rem;
	}

	a {
		color: #fff;
	}

	&:hover {
		background: var(--accent-clr);
		color: #000;

		a {
			color: #000;
		}
	}
}

.contact__details-map {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 200px;
	border-radius: 15px;
	padding: 20px;
	overflow: hidden;

	i {
		font-size: 2rem;
		pointer-events: none;
	}

	p {
		pointer-events: none;
	}
}

.contact__details-title {
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	font-weight: 500 !important;
}

.contact__map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.check-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.checkbox-label {
	border: 2px solid #000;
	padding: 5px;
	border-radius: 10px;

	&:has(input[type="checkbox"]:checked) {
		background: #000;
		color: #fff;
	}
}

.checkbox {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

@media screen and (width < 896px) {
	.contact {
		flex-direction: column;
	}

	.contact__email {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		min-height: 200px;
		border-radius: 15px;
		padding: 20px;
		cursor: pointer;

		a {
			color: #fff;
		}

		&:hover {
			background: var(--accent-clr);
			color: #000;

			a {
				color: #000;
			}
		}
	}

	.contact__socials-map {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 10px;
	}
}

@media screen and (width < 808px) {
	.contact {
		padding: 10px;
	}

	.contact__inner {
		gap: 10px;
		flex-direction: column;
	}

	.contact__email {
		width: 100%;
	}

	.contact__container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.contact__socials {
		gap: 10px;
		width: 100%;
	}
}
