@use "./styles/reset";
@use "./styles/variables";

:root {
	--accent-clr: #b3e741;
	// font-family: var(--font-chakra-petch), sans-serif;
}

html {
	scrollbar-width: none;
	overscroll-behavior: none;
	// font-family: var(--font-chakra-petch), sans-serif;
}

::selection {
	background: var(--accent-clr);
	color: #000;
}

body {
	background: #000;
	color: #fff !important;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

a {
	color: #fff;
}

.not-found {
	position: relative;
	height: 100svh;
	padding: 20px;
}

@media screen and (width < 808px) {
	.not-found {
		padding: 10px;
	}
}
