.custom-cursor {
	position: fixed;
	transform: translate(-50%, -50%);
	width: 0;
	overflow: hidden;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: var(--grey-tp-border);
	background: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	pointer-events: none;
	z-index: 9999;
	transition: width 0.3s;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: max-content;
	}
}

.custom-cursor--active {
	width: 100px !important;
}

.custom-cursor--show {
	width: 10px;
}
