.contact-us {
	background: var(--accent-clr);
	padding: 20px;
	border-radius: var(--big-border-radius);
	color: #000;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-us__title {
	font-size: clamp(1.25rem, 4vw, 1.5rem);
	font-weight: 500;
}

.underline-link {
	position: relative;
	color: #000;
	align-self: flex-end;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background: #000;
		transform-origin: right;
		transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background: #000;
		transform-origin: left;
		transform: scaleX(0);
		transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&:hover {
		&::before {
			transform: scaleX(0);
			transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
		}

		&::after {
			transform: scaleX(1);
			transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1) 0.4s;
		}
	}
}
