.project-card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: none;
}

.project-card__img-wrapper {
	overflow: hidden;
	border-radius: 10px;
	// border: 2px solid rgba(255, 255, 255, 0.15);
	background: rgba(255, 255, 255, 0.15);
	width: 100%;
	aspect-ratio: 1/1;
	padding: 40px;
	display: grid;
	place-items: center;
}

.project-card__img {
	display: block;
	transform-origin: center;
	transition: transform 0.35s ease-out;
	will-change: transform;
	// transition: all 0.5s ease;

	&:hover {
		// transform: scale(1.1);
	}
}

.project-card__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
	flex-wrap: wrap;
}

.project-card {
	&__img {
	}
}
