@use "./../scss/mixins" as *;

.home {
	padding: 0 20px;

	h2 {
		font-size: clamp(2rem, 4vw, 3rem) !important;
	}
}

.home-inner {
	display: flex;
	flex-direction: column;
	row-gap: 90px;
}

.home-hero {
	min-height: 100svh;
	padding: 20px 0;
}

.construction {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--accent-clr);
	background: rgba(178, 231, 65, 0.2);
	border-radius: 10px;
	padding: 5px;
	width: max-content;
	margin: 0 auto;
}

.home__title {
	margin: 20px 0;
	font-size: clamp(3rem, 4vw, 4rem);
	color: hsl(0, 0%, 50%);
	max-width: 700px;
}

.home__desc {
	font-size: clamp(1.2rem, 4vw, 1.6rem) !important;
	color: #fff !important;
	max-width: 800px;
}

.home-hero__link {
	display: inline-block;
	color: #fff !important;
	border: 2px solid rgba(255, 255, 255, 0.15);
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;

	&:hover {
		border: 2px solid var(--accent-clr);
	}
}

@media screen and (width < 808px) {
	.home {
		padding: 0 10px;
	}
}
