@use "@/scss/mixins" as *;

.home {
	padding: 0 20px;

	h2 {
		font-size: clamp(2rem, 4vw, 3rem);
	}
}

.home-inner {
	display: flex;
	flex-direction: column;
	row-gap: 90px;
}

.home-hero {
	min-height: 100svh;
	padding: 20px 0;
}

.home__title {
	margin: 20px 0;
	font-size: clamp(3rem, 6vw, 4rem);
	font-weight: 500;
	width: min(100%, 1000px);
}

.home__desc {
	font-size: 18px;
	width: min(100%, 600px);
}

.home-hero__link {
	display: inline-block;
	color: #fff !important;
	border: 2px solid rgba(255, 255, 255, 0.15);
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;

	&:hover {
		border: 2px solid var(--accent-clr);
	}
}

@media screen and (width < 808px) {
	.home {
		padding: 0 10px;
	}
}
