@use "./reset";
@use "./variables";

html {
	overscroll-behavior: none;
}

::selection {
	background: var(--accent-clr);
	color: #000;
}

body {
	background: #000;
	color: #fff !important;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

a {
	color: #fff;
}

.not-found {
	position: relative;
	height: 100svh;
	padding: 20px;
}

@media screen and (width < 808px) {
	.not-found {
		padding: 10px;
	}
}
