.project-card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: none;
}

.project-card__img-wrapper {
	overflow: hidden;
	border-radius: 10px;
}

.project-card__img {
	transition: transform 0.5s ease;

	&:hover {
		transform: scale(1.1);
	}
}

.project-card__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-card__date {
	color: hsl(0, 0%, 50%);
}
